.plp_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.pro_card img {
  width: 50%;
  height: 100px;
}
.card1 {
  grid-row: 1;
  grid-column: 2/4;
  background-color: teal;
  height: 200px;
}
.card2 {
  grid-row: 3;
  grid-column: 1/3;
  background-color: teal;
  height: 200px;
}