* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 400px;
  box-shadow: 5px 5px 15px green;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  margin: 100px auto;
  position: relative;
}
.formBoshqa {
  width: 800px;
}
.form input {
  margin-bottom: 10px;
  height: 50px;
  padding-left: 20px;
  font-size: 25px;
}
.form button {
  height: 50px;
  width: 100%;
  font-size: 25px;
  cursor: pointer;
  background-color: teal;
  color: white;
  border: 1px solid white;
  transition: 300ms;

}
.form button:hover {
  transition: 300ms;
  border: 1px solid teal;
  color: teal;
  background-color: white;
}
h1 {
  text-align: center;
}
 a {
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}
.eye {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 20px;
}
.close_eye {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 20px;
}

:root {
  --font-family:  "Roboto", sans-serif;
  --second-family:  "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin:  0 auto;
  padding: 0 15px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
}
.card {
  background-color: rgb(138, 248, 171);
  cursor: pointer;
}
.card h4 {
  pointer-events: none;
}
.card img {
  pointer-events: none;
}

.tanlandi {
  background-color: slategray;
}
body {
  background-color: #F2E6DF;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);gap: 50px;
}
.upform {
  display: none;
}
.showUpForm {
  display: block;
}